@import url('https://fonts.googleapis.com/css?family=Saira');
* {
  box-sizing: border-box;
}
body {
  background: url('/images/nystockexchange.jpeg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  font-family: 'Saira', sans-serif;
  margin: 0;
  padding: 0;
  
}
.signin-register, {
  color: #B0F95B;
  font-size: 36px;
  text-align: center;
  margin-top: 150px;
}
.register-container, .login-container {
  color: #0DFBB0;
  font-size: 32px;
}
.register-container button, .login-container button {
  float: left;
}
.home-container {
  text-align: center;
  margin-top: 100px;
}

.home-container p {
  color: #0DFBB0;
  font-size: 32px;
  
}


.create-league {
  width: 320px;
  margin-left: 20px;
  margin-top: 20px;
  
}
.leagues-created li {
  margin-left: auto;
  margin-right: auto;
}
h3 {
  color: #ED1A07;
  font-size: 48px;
}


h4 {
  color: rgb(17, 217, 50);
}




a {
  color: #D9021B;
  font-size: 22px;
  
  
}
.stockpick-container {
  float: right;
  width: 200px;
  height: 200px;
  font-size: 12px;
  margin-right: 50px;
  margin-top: 4px;
  
 

}
li {
  list-style-type: none;
  font-size: 16px;
}
.stock-name {
  color: #5EAC06;
  font-size: 24px;
}
.stock-description {
  color: #F4EC7F;
  font-size: 16px;

}


#results {
  width: 200px;
  height: 200px;
  

}
#results h5 {
  font-weight: bold;
  font-size: 16px;
  color: #1122D9;
}

#search {
  width: 320px;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  
}

.navbar ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #444;
}

.navbar li {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.navbar a:hover {
  background-color: #44B5F3;
}

.navbar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .navbar li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
   
  }
 
  /* Option 1 - Display Inline */
  .navbar li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .navbar li {
  }
  .navbar ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .navbar {
    background-color: #444;
  }
  */
}