extends layout

block content
  .home-container
    p To view Fantasy $tock without registering, click on "Login" in the top right corner. To register as a new user, click on "Register".
  
  .leagues-table
    table
      thead
        tr: th Leagues
      tbody
        each league in leagues
          tr
            td 
              a(href="/league/"+league._id) #{league.leaguename} 
              i #{league.leagueOwner} 
    
      