extends layout

block content
  .home-container
    p Fantasy $tock is a fantasy game based on real financial stocks. It's similar to playing season-long fantasy football. Join a league and go head-to-head each week with a different opponent. Try to build the best portfolio of stocks in order to outdo the competition!
  
  .leagues-table
    table
      thead
        tr: th Leagues
      tbody
        each league in leagues
          tr
            td 
              a(href="/league/"+league._id) #{league.leaguename} 
              i #{league.leagueOwner} 
    
      