extends layout

block content
  .home-container
    header Mock Stock 
    p A Fantasy Stock Game Based on Real Stock Data
    p Join A League and Choose Your 
    p Team Made Up of Your Favorite Stocks 
    
      