extends layout

block content
  .home-container
    p Welcome to Mock Stock
    p A Fantasy Stock Game
    p Based on Real Stock Data
    p Join A League and Choose Your 
    p Team Made Up of Your Favorite Stocks 
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout
      