extends layout

block content
  .container
    h1 league #{leaguename}
    h6 #{leaguename}
    
      if (teams)
        each team in teams
          li 
            a(href="/team/"+team._id) #{team.teamname} 



      form(role='form', action="",method="post")
       .form-group
          input.form-control(type='text', name="teamname", placeholder='Create Team', leagueId='#{leagueId}')
       button.btn.btn-default(type='submit') Submit
       &nbsp;
       a(href='/')
         button.btn.btn-primary(type="button") Cancel
 