extends layout

block content
  .league-container
    h1 #{league_name}

  .teams-table
    table
      thead
        tr: th Teams
      tbody
        each team in teams
          tr
            td 
              a(href="/team/"+team._id) #{team.teamname} 

  .league-container
    form(role='form', action="",method="post")
      .form-group
        input.form-control(type='text', name="teamname", placeholder='Create Team', leagueId='#{leagueId}')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
 