extends layout

block content
  .profile-container
    h1 #{user.username}
    a(href="/logout") Logout

  .profile-container
    form(role='form', action="/create-league",method="post")
      .form-group
        input.form-control(type='text', name="leaguename", placeholder='Create League')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
        
  .leagues-table
      table
        thead
          tr: th Leagues
        tbody
          each league in leagues
            tr
              td 
                a(href="/league/"+league._id) #{league.leaguename} 
                i #{league.leagueOwner} 
  
  
