extends layout

block content
  .container
    h1 team #{teamname}
    h6 #{teamId}

  h3 Stocks
  if (stocks)
    each stock in stocks
      li #{stock.name}
        p #{stock.description}

  
    
            
    

            
  
    

    

  form(role='form', action="",method="post")
    .form-group
      input#search.form-control.input-lg(type='stock', placeholder="Search for a stock")
  #results


    

    