extends layout

block content
  .container
    h1 team #{teamname}
    h6 #{teamId}

  h3 Stocks
  mixin stockPick
    div.stockPick
      

  +stockPick
  +stockPick

  
    
            
    

            
  
    

    

  form(role='form', action="",method="post")
    .form-group
      input#search.form-control.input-lg(type='stock', placeholder="Search for a stock")
  #results


    

    