extends layout

block content
  h1 Team #{teamname}
    

  .stockpick-container
    h3 Team Stocks
    if (stocks)
      each stock in stocks
        li.stock-name #{stock.name}
          p.stock-description #{stock.description}
            form(action="/deleteitem",method="delete")
                      input(type="hidden")
                      button.drop(type="button" data-stockname= "#{stock.name}") Drop

  
    
            
    

            
  
    

    

  form(role='form', action="",method="post")
    .form-group
      input#search.form-control.input-lg(type='stock', placeholder="Search for a stock")
  #results


    

    