@import url('https://fonts.googleapis.com/css?family=Lora');
* {
  box-sizing: border-box;
}
body {
  background: url('/images/nystockexchange.jpeg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  font-family: 'Lora', sans-serif;
  margin: 0;
  padding: 0;
  
}
.home-container {
  width: 50%;
}
.user-container {
  width: 50%;
  text-align: center;
  margin-top: 70px;
  font-size: 14px;
}
header {
  font-size: 30px;
  -webkit-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  transform: skewX(10deg);
}
.home-container p {
  font-size: 14px;
}
.home-container, .register-container, .login-container {
  text-align: center;
  margin-top: 70px;
  color: #0DFBB0;
  font-size: 14px;
}

.register-container button, .login-container button, .profile-container button, .league-container button {
  float: left;
  margin-left: 2px;
}

.register-container form, .login-container form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 320px; 
}
.league-container form, .profile-container form {
  width: 320px;
  margin-top: 20px;

}

.teams-table, .leagues-table {
  float: right;
  margin-right: 470px;
  margin-top: -45px;
}
.teams-table th, .leagues-table th, .stocks-table th {
  color: rgb(41, 11, 211);
  font-size: 26px;
}

.team-container p {
  color: #E97B05;
}
.stocksearch-container, .team-container, .league-container, .profile-container {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: 40px;
  color: #0DFBB0;
  font-size: 26px;

  text-align: center;
}
#search {
  width: 320px;
  margin-top: 20px;
   
}
#results {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
  
}
#results h5 {
  font-weight: bold;
  font-size: 18px;
  color: #0DFBB0;
}
#results p {
  color: #F4F71B;
  font-size: 14px;
}
.stockpick-container h3 {
  margin-top: 70px;
  color: #E97B05;
  font-size: 26px;
}
.drop {
  font-size: 12px;
  color: #D9021B;
  float: right;
  margin-right: 40px;
}

.stock-description {
  color: #F4F71B;
  font-size: 14px;

}

a {
  color: #D9021B;
  font-size: 22px;
    
}
.stocks-table {
  float: right;
  width: 300px;
  font-size: 12px;
  margin-right: 150px;
  margin-top: 5px;
  
}

.stock-name {
  color: #0DFBB0;
  font-size: 18px;
}


